ul, ol{
    list-style: none;
}

.menu li a{
    background-color: rgba(245,217,142 ,1);
    color:brown;
    text-decoration: none;
    padding: 13px   35px;
    display: block;
  
}
.menu li a:hover {
    background-color: rgba(141, 214, 155, 0.911);
     
 }
.menu > li{
    float: left;
}

.menu li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.menu li:hover > ul {
    display: block;
}

.alerta{
    width: 200px;
    text-align: center;
    margin: auto;
    color: brown;
    padding-top: 20px;
}