<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="editarVuelos.css">
  <title>Editar vuelos</title>
</head>
<body>
  <section class="form-register">
    <h4>Editar vuelo</h4>
    <input class="controls" type="text" name="Codigo" id="Codigo" placeholder="Codigo">
    <input class="controls" type="text" name="Origen" id="Origen" placeholder="Origen">
    <input class="controls" type="text" name="Destino"id="Destino" placeholder="Destino">
    <input class="controls" type="text" name="Fecha" id="Fecha" placeholder="Fecha">
    <input class="controls" type="text" name="Hora Salida" id="Hora Salida" placeholder="Hora Salida">
    <input class="controls" type="text" name="Piloto" id="Piloto" placeholder="Piloto">
    <input class="controls" type="text" name="Avión" id="Avión" placeholder="Avión">
    <input class="controls" type="text" name="Aerolinea" id="Aerolinea" placeholder="Aerolinea">
    <input class="controls" type="text" name="Aerolinea" id="Aerolinea" placeholder="Estado">
    <input class="botons" type="submit" value="Crear">
    <input class="botons" type="submit" value="Cancelar">
  </section>
</body>
</html>