{% include 'headerAdm.html' %}
<br><br>
<form method="POST" action="/updateVuelo" enctype="multipart/form-data">   
    <div class="card">
        <div class="card-header">
            Crear Usuarios
        </div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">
                {% for usu in vuelos %}
                <input type="hidden" value="{{ usu[0] }}" name="idVuelo" id="idVuelo">
                <div class="form-group">
                    <label for="vueloAerolinea">Aerolinea</label>
                    <select  value="{{ usu[6] }}" class="form-control" name="vueloAerolinea" id="vueloAerolinea">
                        {% for fly in aerolinea %}
                            <option value="{{fly[0]}}">{{fly[1]}}</option>
                        {% endfor %}
                    </select>
                    
                </div>

                <div class="form-group">
                    <label for="vueloOrigen">Origen</label>
                    <select   value="{{ usu[1] }}" class="form-control" name="vueloOrigen" id="vueloOrigen">
                        {% for fly in ciudad %}
                            <option value="{{fly[0]}}">{{fly[1]}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="vueloDestino">Destino</label>
                    <select class="form-control" id="vueloDestino" name="vueloDestino" >
                        {% for fly in ciudad %}
                            <option value="{{fly[0]}}">{{ fly[1] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="vueloFecha">Fecha</label>
                    <input   value="{{ usu[3] }}" type="date" class="form-control" name="vueloFecha" id="vueloFecha">
                </div>

                <div class="form-group">
                    <label for="vueloHora">Hora</label>
                    <input  value="{{ usu[4] }}" type="time" class="form-control" name="vueloHora" id="vueloHora">
                </div>

                <div class="form-group">
                    <label for="vueloPiloto">Piloto</label>
                    <select  value="{{ usu[7] }}" class="form-control" name="vueloPiloto" id="vueloPiloto">
                        {% for fly in piloto %}
                            <option value="{{fly[0]}}">{{fly[1]}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="vueloAvion">Avion</label>
                    <select  value="{{ usu[5] }}" class="form-control" name="vueloAvion" id="vueloAvion">
                        {% for fly in avion %}
                            <option value="{{fly[0]}}">{{fly[1]}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="vueloEstado">Estado</label>
                    <select  value="{{ usu[8] }}" class="form-control" name="vueloEstado" id="vueloEstado">
                        {% for fly in estado %}
                            <option value="{{fly[0]}}">{{fly[1]}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-success" id= "enviar" value="enviar">
                    <a href="{{url_for('verVuelo')}}" class="btn btn-primary">Regresar</a>
                </div>
                {% endfor %}
            </p>
        </div>
    </div>
</form>
{% include 'footerAdm.html' %}