<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="editarUsuario.css">
  <title>Editar usuario</title>
</head>
<body>
  <section class="form-register">
    <h4>Editar usuario</h4>
    <input class="controls" type="text" name="usuario" id="usuario" placeholder="usuario">
    <input class="controls" type="text" name="Nombre" id="Nombre" placeholder="Nombre">
    <input class="controls" type="text" name="Apellido"id="Apellido" placeholder="Apellido">
    <input class="controls" type="text" name="Correo" id="Correo" placeholder="Correo">
    <input class="botons" type="submit" value="Actualizar">
    <input class="botons" type="submit" value="Cancelar">
  </section>
</body>
</html>