<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="eliminarUsuario.css">
  <title>Eliminar usuario</title>
</head>
<body>
  <section class="form-register">
    <h4>Eliminar usuario</h4>
    <input class="controls" type="text" name="Codigo" id="Codigo" placeholder="Codigo">
    <input class="botons" type="submit" value="Consultar">
    <input class="controls" type="text" name="Nombre de usuario" id="Nombre de usuario" placeholder="Nombre de usuario">
    <input class="controls" type="text" name="Número de documentos del usuario" id="Número de documentos del usuario" placeholder="Número de documentos del usuario">
    <input class="controls" type="text" name="Categoría" id="Categoría" placeholder="Categoría">
    <input class="botons" type="submit" value="Eliminar usuario">
    <input class="botons" type="submit" value="Cancelar">
  </section>
</body>
</html>