<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="eliminarComentario.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentarios</title>
</head>
<body>
    <form action="">
        <h1>Comentarios</h1>
        <p>Queremos saber como fue tu experiencia al volar con nosotros. <br> Dejanos tu calificación y tus comentarios para seguir mejorando en nuestros vuelos</p>
        <input type="text" name="SeleccionarVuelo" placeholder="Seleccionar vuelo">
        <textarea name="comentario" placeholder="Comentario # que se va a eliminar"></textarea>
        <input type="button" value="Eliminar" id="eliminarComentario">
        <input type="button" value="Cancelar" id="eliminarComentario">
    </form>
</body>
</html>