<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="eliminarVuelo.css">
  <title>Eliminar vuelo</title>
</head>
<body>
  <section class="form-register">
    <h4>Eliminar vuelo</h4>
    <input class="controls" type="text" name="Codigo" id="Codigo" placeholder="Codigo del vuelo">
    <input class="botons" type="submit" value="Consultar">
    <input class="controls" type="text" name="Codigo" id="Codigo" placeholder="Su vuelo es">
    <input class="controls" type="text" name="Codigo" id="Codigo" placeholder="Hora de Salida">
    <input class="controls" type="text" name="Codigo" id="Codigo" placeholder="Destino">
    <input class="botons" type="submit" value="Eliminar">
    <input class="botons" type="submit" value="Cancelar">
  </section>
</body>
</html>