<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Yon Manchego">
		<meta name="decription" content="Pagina aeropuerto Letizia Amazonas Colombia">
		<title>Crear Vuelo</title>
	
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/menu.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/grid.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/form.css') }}">
		<script src="{{ url_for('static',filename='validarformulario.js') }}"> </script>
		<link rel="shortcut icon" href="{{url_for ('static', filename = './img/airplaneshape_119680.ico')}}" type="image/x-icon">
		
	</head>

<body class="grid-container">
	
	<header class="header"><h3>Pagina base para desarollo de proyecto</h1></header>
	<nav class="navbar">
		<ul class="menu">
			<li><a href="{{ url_for('index')}}">Inicio</a></li>
			<li><a href="{{url_for('reservaVuelos')}}">Reserva de vuelos</a></li>
			<li><a href="">Usuarios</a>
				<ul class="submenu">
					<li><a href="{{ url_for('loginUsuario')}}">Login Usuario</a></li>
					<li><a href="{{ url_for('registroUsuario')}}">Registro Usuario</a></li>
				</ul>
			</li>
			<li><a href="">Intranet</a>
				<ul class="submenu">
					<li><a href="{{ url_for('loginPilotos')}}">Pilotos</a></li>   
					<li><a href="{{ url_for('loginAdmin')}}">Administrador</a></li>  
					<li><a href="{{ url_for('busquedaVuelo')}}">Vuelos</a></li>
				</ul>
			</li>
		</ul>
		<br>
	</nav>
	<article class="articulo">
		<form>

			<table class="menu">
				<tr><td colspan="2"><label id="addVuelo">Crear Vuelo</label></td></tr>
				<tr></tr>
				<tr id="alto">
					<td id="cel1"><label for="origen">Origen</label></td>
					<td id="cel2"><select name="origen" id="ori">
							<option value="barranquilla">Barranquilla</option>
							<option value="bogota">Bogota</option>
							<option value="cali">Cali</option>
							<option value="medellin">Medellin</option>
							<option value="leticia">Leticia</option>
						</select>
					</td>
				</tr>

				<tr id="alto">
					<td id="cel1"><label for="destino">Destino</label></td>
					<td id="cel2"> <select name="destino" id="des">
							<option value="barranquilla">Barranquilla</option>
							<option value="bogota">Bogota</option>
							<option value="cali">Cali</option>
							<option value="medellin">Medellin</option>
							<option value="leticia">Leticia</option>
						</select>
					</td>
				</tr>

				<tr id="alto">
					<td id="cel1"><label for="fecha">Fecha</label></td>
					<td id="cel2"><input type="date" name="date" id="date"></td>
				</tr>

				<tr id="alto">
					<td id="cel1"><label for="hora">Hora</label></td>
					<td id="cel2"><input type="time" name="hora" id="hora"></td>
				</tr>

				<tr id="alto">
					<td id="cel1"><label for="piloto">Piloto</label></td>
					<td id="cel2"><select name="piloto" id="pilot">
							<option value="jose">Jose Pinto</option>
							<option value="yon">Yon Manchengo</option>
							<option value="john">John Angarita</option>
							<option value="yeimer">Yeimer Rodelo</option>
						</select>
					</td>
				</tr>

				<tr id="alto">
					<td id="cel1"><label for="avion">Avion</label></td>
					<td id="cel2"><select name="avion" id="avion">
							<option value="a330">Airbus A330</option>
							<option value="hk5335">HK5335</option>
							<option value="atr72">ATR-72</option>
							<option value="a330f">Airbus A330F</option>
						</select>
					</td>
				</tr>

				<tr id="alto">
					<td id="cel1"><label for="aerolinea">Aerolinea</label></td>
					<td id="cel2"><select name="aerolinea" id="aerolinea">
							<option value="avianca">Avianca</option>
							<option value="vivacolombia">Viva Colombia</option>
							<option value="latm">Latam</option>
							<option value="america">American Airlines</option>
						</select>
					</td>
				</tr>

				<tr>
					<td colspan="2" align="center">
						<input type="submit" class="button" name="enviar" onclick="hizoClick()" value="Enviar">
						<input type="button" onclick="history.back()" name="volver atrás" value="Cancelar">
					</td>
				</tr>
			</table> 
        </form>
	</article>
</body>

<script>
	function hizoClick() {
	  alert("Vuelo Creado");
	}
</script>

<footer class="footer">Pie de pagina...........</footer>
</html>