{% include 'headerAdm.html' %}
<br>
    <p>Listado de Ciudades</p>
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th colspan="2">
                    <input type="search" name="busquedamusica" placeholder="# Codigo">
                    <input type="submit" value="Buscar">
                </th>
                <th><a href="{{ url_for('createCiudad') }}" class="btn btn-success">Crear Ciudades</a></th>
            </tr>
            <tr>
                <th># Ciudad</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for fly in ciudades %}
                <tr>
                    <td>{{fly[0]}}</td> 
                    <td>{{fly[1]}}</td> 
                    <td><a class="btn btn-warning" href="/editCiudad/{{fly[0]}}">Editar</a> | 
                        <a onclick="return confirm('Desea Eliminar la Ciudad')" class="btn btn-danger"href="/delCiudad/{{fly[0]}}">Borrar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% include 'footerAdm.html' %}
